.mobile-menu-icon{
    display: none;
}

.mobile-menu-item{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content:right;
    text-align: center;
}

.mobile-menu{
    display: none;
}

.mobile-menu-item a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

@media screen and (max-width: 900px) {
    .menu a{
        display: none;
    }
    .mobile-menu{
        /*aparece o menu mobile*/
        display: none;
        justify-content: end;
    }
    .mobile-menu-icon{
        display: block;
        padding-right: 20px;
    }

    .mobile-menu-icon button {
        background: transparent;
        border: none;
    }
    .logo{
        width: 190px;
    }

    .texto{
        display: flex;
        flex-direction: column;
    }
    
    .texto h1{
        margin-bottom: 15px;
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
    }

    .texto p{
        display: block;
        width: 100%;
    }
    
    .container{
        margin: 100px 20px;
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .container{
        display: block;
    }
}

@media screen and (min-width: 800px) and (max-width: 1070px) {
    .container{
        display: flex;
        justify-content:space-between;
    }
}