@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 900px) {
    .menu a{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        padding-right: 20px;
    }

    .mobile-menu-icon button {
        background: transparent;
        border: none;
    }
    .logo{
        width: 190px;
    }

    .texto{
        display: flex;
        flex-direction: column;
    }
    
    .texto h1{
        margin-bottom: 15px;
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
    }

    .texto p{
        display: block;
        width: 100%;
    }
    
    .container{
        margin: 100px 20px;
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .container{
        display: block;
    }
}

@media screen and (min-width: 800px) and (max-width: 1070px) {
    .container{
        display: flex;
        justify-content:space-between;
    }
}